.sidenav-container {
    height: 100vh;
}

.sidenav {
    background-color: #262F3D;
    width: 250px;
}

.active {
    background-color: #3E4651;
}

mat-list-item * {
    color: rgba(255, 255, 255, .7);
}
