<mat-list>
    <mat-list-item [routerLink]="['./budget']" routerLinkActive="active">
        <mat-icon>trending_up</mat-icon>
        <p>Budget</p>
    </mat-list-item>
    <mat-list-item [routerLink]="['./accounts']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
        <mat-icon>attach_money</mat-icon>
        <p>All Accounts</p>
    </mat-list-item>
    <mat-list-item>
        <button mat-button (click)="openAddBudgetToAccountDialog()">Add account</button>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item *ngFor="let account of budgetAccounts.observable | async as accounts"
                   [routerLink]="['./accounts', account.budgetAccountId]"
                   routerLinkActive="active">
        <p>Name: {{account.accountName}}</p>
        <p>Type: {{account.accountType}}</p>
    </mat-list-item>
</mat-list>
