<mat-list>
    <mat-list-item [routerLink]="['../budget']" routerLinkActive="active">
        <mat-icon>trending_up</mat-icon>
        <p>Budget</p>
    </mat-list-item>
    <mat-list-item [routerLink]="['../accounts']" routerLinkActive="active">
        <mat-icon>attach_money</mat-icon>
        <p>All Accounts</p>
    </mat-list-item>
    <mat-list-item>
        <button mat-button (click)="openAddBudgetToAccountDialog()">Add account</button>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item *ngFor="let a of budgetAccounts | async as accounts">
        <p>Name: {{a.accountName}}</p>
        <p>Type: {{a.accountType}}</p>
    </mat-list-item>

</mat-list>
