<form [formGroup]="transferForm" (ngSubmit)="transferForm.valid && transferCategory()">

    <h1 mat-dialog-title>Transfer category</h1>

    <mat-dialog-content>

        <mat-form-field>
            <mat-select placeholder="Transfer to" formControlName="transferTo">
                <mat-option *ngFor="let group of groupResult.observable | async"
                            [disabled]="group.groupId === category.groupId" [value]="group.groupId">
                    {{group.groupName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button type="button" [mat-dialog-close]>Cancel</button>
        <button mat-raised-button color="primary" [disabled]="saving" type="submit">Transfer</button>
    </mat-dialog-actions>
</form>
