service cloud.firestore {
    match /databases/{database}/documents {

        match /users/{userId} {
            allow get: if request.auth.uid == userId;
        }

        match /budgets/{budgetId} {

            // Cannot use get() on current document when document already exists in resource?
            allow read: if resource.data.userId == request.auth.uid;
            allow create: if request.auth.uid == request.resource.data.userId;

            match /accounts/{accountId} {
                allow read, create, update: if userOwnsBudget();
                //Don't allow direct delete, must delete dependencies first
            }

            match /categoryGroups/{groupId} {
                allow read, create, update: if userOwnsBudget();
                //Don't allow delete, categories are tied to group
            }

            match /categories/{categoryId} {
                allow read, create, update: if userOwnsBudget();
                //Don't allow delete, transactions are tied to category
            }

            match /categoryValues/{categoryValueId} {
                allow read, create, update: if userOwnsBudget();
                //Don't allow delete, transactions are tied to category
            }

            function userOwnsBudget() {
                return get(/databases/$(database)/documents/budgets/$(budgetId)).data.userId == request.auth.uid;
            }
        }
    }
}
