service cloud.firestore {
    match /databases/{database}/documents {

        match /users/{userId} {
            allow get: if request.auth.uid == userId;
        }

        match /budgets/{budgetId} {

            allow read: if
                            isSignedIn() &&
                            existingData().userId == request.auth.uid &&
                            isPremium();

            allow create: if
                            isSignedIn() &&
                            incomingData().userId == request.auth.uid &&
                            validateBudgetSchema() &&
                            validCurrencyCode(incomingData().currencyCode) &&
                            noLeadingOrTrailingSpaces(incomingData().budgetName) &&
                            isPremium();

            allow update: if
                            isSignedIn() &&
                            incomingData().userId == existingData().userId &&
                            validateBudgetSchema() &&
                            validCurrencyCode(incomingData().currencyCode) &&
                            noLeadingOrTrailingSpaces(incomingData().budgetName) &&
                            isPremium();

            allow delete: if false;

            function validateBudgetSchema() {
                return incomingData().keys().hasAll(['userId', 'budgetName', 'currencyCode', 'timeCreated', 'lastVisited']) &&
                    incomingData().size() == 5 &&
                    incomingData().userId is string &&
                    incomingData().budgetName is string &&
                    incomingData().currencyCode is string &&
                    incomingData().timeCreated is timestamp &&
                    incomingData().lastVisited is timestamp;
            }

            function validCurrencyCode(code) {
                return code in ['USD'];
            }

            match /payees/{payeeId} {
                allow read: if
                                isSignedIn() &&
                                isBudgetOwner() &&
                                isPremium();

                allow create, update: if
                                isSignedIn() &&
                                validatePayeeSchema() &&
                                noLeadingOrTrailingSpaces(incomingData().payeeName) &&
                                isBudgetOwner() &&
                                isPremium();

                allow delete: if false;

                function validatePayeeSchema() {
                    return incomingData().keys().hasAll(['payeeName']) &&
                        incomingData().size() == 1 &&
                        incomingData().payeeName is string;
                }
            }

            match /accounts/{accountId} {
                allow read: if
                                isSignedIn() &&
                                isBudgetOwner() &&
                                isPremium();

                allow create, update: if
                                isSignedIn() &&
                                validateAccountSchema() &&
                                noLeadingOrTrailingSpaces(incomingData().accountName) &&
                                isBudgetOwner() &&
                                isPremium();

                allow delete: if false;

                function validateAccountSchema() {
                    return incomingData().keys().hasAll(['accountName', 'createdAt', 'position']) &&
                        incomingData().size() == 3 &&
                        incomingData().accountName is string &&
                        incomingData().position is int &&
                        incomingData().createdAt is timestamp;
                }
            }

            match /categoryGroups/{groupId} {
                allow read: if
                                isSignedIn() &&
                                isBudgetOwner() &&
                                isPremium();

                allow create, update: if
                                isSignedIn() &&
                                validateGroupSchema() &&
                                noLeadingOrTrailingSpaces(incomingData().groupName) &&
                                isBudgetOwner() &&
                                isPremium();

                allow delete: if false;

                function validateGroupSchema() {
                    return incomingData().keys().hasAll(['groupName', 'position']) &&
                        incomingData().size() == 2 &&
                        incomingData().groupName is string &&
                        incomingData().position is int;
                }
            }

            match /categories/{categoryId} {
                allow read: if
                            isSignedIn() &&
                            isBudgetOwner() &&
                            isPremium();

                allow create, update: if
                                isSignedIn() &&
                                validateCategoriesSchema() &&
                                groupExists(incomingData().groupId) &&
                                noLeadingOrTrailingSpaces(incomingData().categoryName) &&
                                isBudgetOwner() &&
                                isPremium();

                allow delete: if false;

                function validateCategoriesSchema() {
                    return incomingData().keys().hasAll(['groupId', 'categoryName', 'position']) &&
                        incomingData().size() == 3 &&
                        incomingData().groupId is string &&
                        incomingData().categoryName is string &&
                        incomingData().position is int
                }
            }

            match /categoryValues/{categoryValueId} {
                allow read: if
                                isSignedIn() &&
                                isBudgetOwner() &&
                                isPremium();

                allow create: if
                                isSignedIn() &&
                                validateValuesSchema() &&
                                categoryExists(incomingData().categoryId) &&
                                isBudgetOwner() &&
                                isPremium();

                allow update: if
                                isSignedIn() &&
                                validateValuesSchema() &&
                                incomingData().budgetMonth == existingData().budgetMonth &&
                                incomingData().categoryId == existingData().categoryId &&
                                isBudgetOwner() &&
                                isPremium();

                allow delete: if
                                isSignedIn() &&
                                isBudgetOwner() &&
                                isPremium();

                function validateValuesSchema() {
                    return incomingData().keys().hasAll(['categoryId', 'budgeted', 'offset', 'budgetMonth']) &&
                        incomingData().size() == 4 &&
                        incomingData().categoryId is string &&
                        incomingData().budgeted is number &&
                        incomingData().offset is number &&
                        incomingData().budgetMonth is timestamp
                }
            }

            match /transactions/{transactionId} {
                allow read, delete: if
                                isSignedIn() &&
                                isBudgetOwner() &&
                                isPremium();

                allow create, update: if
                                isSignedIn() &&
                                validateTransactionSchema() &&
                                accountExists(incomingData().accountId) &&
                                ( incomingData().payeeId == null || payeeExists(incomingData().payeeId) ) &&
                                ( incomingData().categoryId == null || categoryExists(incomingData().categoryId) ) &&
                                isBudgetOwner() &&
                                isPremium();

                function validateTransactionSchema() {
                    return incomingData().keys().hasAll(['transactionDate', 'accountId', 'payeeId', 'categoryId', 'splits', 'memo', 'amount', 'cleared', 'locked']) &&
                                            incomingData().size() == 9 &&
                                            incomingData().transactionDate is timestamp &&
                                            incomingData().accountId is string &&
                                            (incomingData().payeeId == null || incomingData().payeeId is string) &&
                                            (incomingData().categoryId == null || incomingData().categoryId is string) &&
                                            incomingData().splits is list &&
                                            (incomingData().memo == null || incomingData().memo is string) &&
                                            incomingData().amount is number &&
                                            incomingData().cleared is bool &&
                                            incomingData().locked is bool;
                }
            }

            match /reoccurringTransactions/{reoccurringTransactionsId} {
                allow read, write: if isBudgetOwner() && isPremium();
            }

            match /transfers/{transferId} {
                allow read, write: if isBudgetOwner() && isPremium();
            }

            match /reoccurringTransfers/{reoccurringTransferId} {
                allow read, write: if isBudgetOwner() && isPremium();
            }

            function isSignedIn() {
                return request.auth != null;
            }

            function isPremium() {
                return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isPremium == true;
            }

            function isBudgetOwner() {
                return get(/databases/$(database)/documents/budgets/$(budgetId)).data.userId == request.auth.uid;
            }

            function groupExists(groupId) {
                return exists(/databases/$(database)/documents/budgets/$(budgetId)/categoryGroups/$(groupId));
            }

            function categoryExists(categoryId) {
                return exists(/databases/$(database)/documents/budgets/$(budgetId)/categories/$(categoryId));
            }

            function accountExists(accountId) {
                return exists(/databases/$(database)/documents/budgets/$(budgetId)/accounts/$(accountId));
            }

            function payeeExists(payeeId) {
                return exists(/databases/$(database)/documents/budgets/$(budgetId)/payees/$(payeeId));
            }

            function validSchedule(schedule) {
                return schedule in ['DAILY', 'WEEKLY', 'EVERY_OTHER_WEEK', 'MONTHLY', 'YEARLY'];
            }

            function noLeadingOrTrailingSpaces(str) {
                return str.size() == str.trim().size();
            }

            function existingData() {
                return resource.data;
            }

            function incomingData() {
                return request.resource.data;
            }

        }
    }
}
