.view-budget-container {
    margin: 25px auto;
    width: 75%;
}

.view-budget-container mat-card {
    margin: 30px 0;
}

.view-budget-header {
    display: flex;
    align-items: flex-start;
}

.view-budget-month {
    display: flex;
    flex-direction: column;
}

.view-budget-month h1 {
    margin: 0;
    padding-right: 5px;
}

.view-transaction-month {
    margin: 0;
}

.view-budget-header-options {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.group-card {
    padding: 0;
}

.group-card-grey {
    background-color: #f5f5f5;
}

.group-card-header {
    display: flex;
    align-items: center;
    padding: 7px;
}

.group-name {
    display: flex;
    align-items: center;
}

.group-name h1 {
    margin: 0;
}

.group-card-options {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.spinner-container {
    position: absolute;
    display: flex;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.no-categories {
    display: flex;
    justify-content: center;
    padding: 24px;
}
