<ng-container *ngIf="data$ | async as data; else loading">

    <div class="view-budget-container">

        <div class="view-budget-header">
            <div class="view-budget-month">

                <button mat-icon-button (click)="previousMonth()" class="month-navigation">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <button mat-icon-button (click)="nextMonth()" class="month-navigation">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>

                <h1 class="mat-title">{{viewMonth | utcDate | date:'LLLL yyyy'}}</h1>

            </div>

            <div class="view-budget-header-options">
                <button mat-raised-button
                        color="primary"
                        (click)="createCategoryGroup(data.groups)">
                    Add group
                </button>
            </div>
        </div>

        <ng-container *ngIf="data.groups.length > 0; else noGroups">

            <mat-card *ngFor="let group of data.groups; trackBy: trackGroup" class="categories-table-container">

                <mat-card-header
                    class="material-table-header material-level-two"
                    (click)="updateCategoryGroup(group)">

                    <div class="group-name">
                        <h1 class="mat-title truncate">{{group.groupName}}</h1>
                    </div>

                    <div class="categories-table-header-options">
                        <button mat-raised-button color="primary"
                                (click)="createCategory(group); $event.stopPropagation()"
                                class="addCategory">
                            Add category
                        </button>

                        <button mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="options">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #options>
                            <button mat-menu-item (click)="updateCategoryGroup(group)">Edit</button>
                        </mat-menu>
                    </div>
                </mat-card-header>

                <ng-container *ngIf="group.categories.length > 0; else noCategories">
                    <app-budget-categories-table
                        [categories]="group.categories"
                        [transactions]="data.transactions"
                        [viewMonth]="viewMonth"
                        [budgetId]="data.budgetId"
                        [onChanges$]="onChanges$">
                    </app-budget-categories-table>
                </ng-container>

                <ng-template #noCategories>
                    <div class="no-categories-card">
                        <p>No categories</p>
                    </div>
                </ng-template>

            </mat-card>
        </ng-container>

        <ng-template #noGroups>
            <mat-card style="padding: 0;">

                <mat-card-header style="padding: 26px" class="material-level-two">
                </mat-card-header>

                <mat-card-content style="padding: 24px">
                    <div class="no-data-card" style="padding: 0">
                        <div class="no-data-card-content">
                            <p>You don't have any category groups</p>
                            <button mat-button (click)="createCategoryGroup(data.groups)">Create your first category
                                group
                            </button>
                        </div>
                    </div>
                </mat-card-content>

            </mat-card>

        </ng-template>

    </div>
</ng-container>

<ng-template #loading>
    <div class="progress-spinner">
        <mat-spinner diameter="60"></mat-spinner>
    </div>
</ng-template>

