<div class="view-budget-container">

    <ng-container *ngIf="groups$ | async as groups; else loading">

        <div class="view-budget-header">
            <div class="view-budget-month">

                <button mat-button (click)="previousMonth()" class="month-navigation">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>

                <h1 class="mat-headline">{{viewMonth | date:'LLLL yyyy'}}</h1>

                <button mat-button (click)="nextMonth()" class="month-navigation">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>

            <div class="view-budget-header-options">
                <button mat-raised-button
                        color="primary"
                        (click)="createCategoryGroup(groups)">
                    Add category group
                </button>
            </div>
        </div>

        <mat-card *ngFor="let group of groups; trackBy: trackGroup" class="categories-table-container">

            <mat-card-header
                class="categories-table-header categories-table-grey"
                (click)="updateCategoryGroup(group)">

                <div class="group-name">
                    <h1 class="mat-title">{{group.groupName}}</h1>
                </div>

                <div class="categories-table-header-options">
                    <button mat-raised-button color="primary"
                            (click)="createCategory(group); $event.stopPropagation()"
                            class="addCategory">
                        Add category
                    </button>

                    <button mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="options">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #options>
                        <button mat-menu-item (click)="updateCategoryGroup(group)">Edit</button>
                    </mat-menu>
                </div>
            </mat-card-header>

            <ng-container *ngIf="group.categories.length > 0; else noCategories">
                <app-budget-categories-table
                    [categories]="group.categories"
                    [viewMonth]="viewMonth"
                    [budgetId]="getBudgetId() | async"
                    [onChanges$]="onChanges$">
                </app-budget-categories-table>
            </ng-container>

            <ng-template #noCategories>
                <div class="no-categories">
                    <p>No categories</p>
                </div>
            </ng-template>

        </mat-card>

    </ng-container>

    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>

</div>
