.view-budget-container {
    margin: 0 auto;
    max-width: 936px;
    padding: 48px 24px 0;
}

.view-budget-container mat-card {
    margin: 24px 0;
}

.view-budget-header {
    display: flex;
    flex-wrap: wrap;
    margin-top: -24px;
}

.view-budget-month {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-top: 24px;
}

.view-budget-header-options {
    margin-top: 24px;
}

.view-budget-month h1 {
    text-align: center;
    padding: 0 8px;
    min-width: 114px;
    margin: 0;
}

.categories-table-container {
    padding: 0;
}

.group-name{
    flex: 1;
}

.no-categories-card {
    display: flex;
    justify-content: center;
    padding: 24px;
}

.truncate {
    margin: 0;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
