.view-budget-container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 24px 16px;
}

.view-budget-container mat-card {
    margin: 30px 0;
}

.view-budget-header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.view-budget-month {
    display: flex;
    flex-direction: column;
}

.view-budget-month h1 {
    margin: 0;
    padding-right: 5px;
}

.view-transaction-month {
    margin: 0;
}

.view-budget-header-options {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.categories-table-container {
    padding: 0;
}

.categories-table-grey {
    background-color: #f5f5f5;
}

.categories-table-header {
    display: flex;
    align-items: center;
    padding: 8px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) inset;
    flex-wrap: wrap;
}

.group-name {
    display: flex;
    align-items: center;
}

.group-name h1 {
    margin: 0;
}

.categories-table-header-options {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.categories-table-header-options .addCategory {
    margin: 0 8px;
}

.no-categories {
    display: flex;
    justify-content: center;
    padding: 24px;
}
