mat-list-item * {
    color: rgba(255, 255, 255, .7);
}

.container {
    height: 100%;
    width: 255px;
    background-color: #262F3D;
}

.active {
    background-color: #3E4651;
}

.sidenav-account-item {
    display: flex;
}

.account-options {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.sidenav-list-icon {
    margin-right: 8px;
}
