<mat-toolbar color="primary">
    <span>{{title}}</span>

    <ng-container *ngIf="!hideOptions">
        <button mat-button (click)="routeToHome()">Home</button>

        <span class="banner-spacer"></span>

        <button mat-button (click)="routeToSettings()">Settings</button>

        <ng-container *ngIf="auth.user | async as user">

            <ng-container *ngIf="user.email; else isAnonymous">
                <button mat-button (click)="auth.signOut()">Sign out</button>
            </ng-container>

            <ng-template #isAnonymous>
                <button mat-raised-button (click)="openLinkAnonymousAccountDialog()" color="warn">Create account</button>
            </ng-template>

        </ng-container>

    </ng-container>

</mat-toolbar>
