<div class="container">

    <app-header></app-header>

    <ng-container *ngIf="budgets$ | async  as budgets; else loading">
        <div class="budget-selection-container">

            <div class="bottom-margin header">
                <h1 class="mat-headline">Budgets</h1>

                <button mat-raised-button color="primary" (click)="createBudget()">Add budget</button>
            </div>


            <ng-container *ngIf="budgets.length > 0; else noBudgets">
                <mat-card *ngFor="let budget of budgets" class="budget-card" [routerLink]="[budget.budgetId]"
                          class="bottom-margin">
                    <p class="truncate">{{budget.budgetName}}</p>
                </mat-card>

            </ng-container>

            <ng-template #noBudgets>
                <mat-card style="padding: 0">
                    <mat-card-content>
                        <div class="no-content">
                            <p>No Budgets</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </ng-template>
        </div>
    </ng-container>

    <ng-template #loading>
        <div class="height-minus-header progress-spinner">
            <mat-spinner diameter="60"></mat-spinner>
        </div>
    </ng-template>

</div>


