.container {
    background-color: #fafafa;
    height: 100vh;
}

.budget-selection-container {
    max-width: 800px;
    margin: 25px auto;
}

.budget-selection-container div {
    margin: 0 16px;
}

.budget-card {
    margin: 20px auto;
}
