.container {
    background-color: #fafafa;
    min-height: 100vh;
    height: 100%;
}

.budget-selection-container {
    max-width: 936px;
    margin: 24px auto 0;
    padding: 0 24px;
}

.budget-selection-container .mat-card {
    margin: 24px 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: -24px;
}

.header h1 {
    flex: 1;
    margin: 24px 0 0;
}

.header button {
    margin-top: 24px;
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


