<app-header></app-header>

<ng-container *ngIf="budgets?.observable | async  as budgets; else loading">
    <button mat-button (click)="openAddNewBudgetDialog()">Add new budget</button>

    <mat-card *ngFor="let budget of budgets" class="budget-container" [routerLink]="[budget.budgetId]">
        <p>{{budget.budgetName}}</p>

        <button mat-button (click)="$event.stopPropagation()">
            <mat-icon>delete</mat-icon>
        </button>

    </mat-card>

</ng-container>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>
