<mat-spinner *ngIf="loading"></mat-spinner>

<ng-container *ngIf="authNotification.messageBroadcast | async as notification">
    <mat-card class="cardContainer" *ngIf="showAuthError">
        <p [style.color]="notification.type == 'error' ? 'red' : null">{{notification.content}}</p>
    </mat-card>
</ng-container>

<mat-card class="cardContainer">

    <mat-card-title>Sign in</mat-card-title>

    <form [formGroup]="signInForm" (ngSubmit)="signInForm.valid && signInWithEmailAndPassword()" class="formContainer">

        <mat-form-field [floatPlaceholder]="'never'">
            <input matInput formControlName="email" placeholder="Email" type="email">
        </mat-form-field>

        <mat-form-field [floatPlaceholder]="'never'">
            <input matInput formControlName="password" placeholder="Password" type="password">
        </mat-form-field>

        <button mat-raised-button color="primary" mat-button type="submit">Sign in</button>

    </form>

</mat-card>

<mat-card class="cardContainer">
    <mat-card-title>Create account</mat-card-title>

    <form [formGroup]="createUserForm" (ngSubmit)="createUserForm.valid && createUserWithEmailAndPassword()"
          class="formContainer">
        <mat-form-field [floatPlaceholder]="'never'">
            <input matInput formControlName="email" placeholder="Email" type="email">
            <mat-error *ngIf="createUserForm.get('email').hasError">{{emailErrorMessage}}</mat-error>
        </mat-form-field>

        <mat-form-field [floatPlaceholder]="'never'">

            <input matInput formControlName="password" placeholder="Password" [type]="hidePassword ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>

            <mat-error *ngIf="createUserForm.get('password').hasError('required')">Password required</mat-error>
            <mat-error *ngIf="createUserForm.get('password').hasError('minlength')">Password must be at least 6
                characters
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Create account</button>

    </form>
</mat-card>

