<mat-card class="cardContainer">

    <mat-card-title>Sign in</mat-card-title>

    <form [formGroup]="loginForm" (ngSubmit)="loginUserWithEmail(loginForm.value)" class="formContainer">

        <mat-form-field>
            <input matInput formControlName="email" placeholder="Email" type="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="password" placeholder="Password" type="password">
        </mat-form-field>

        <button mat-raised-button color="primary" mat-button type="submit">Sign in</button>

    </form>

</mat-card>

<mat-card class="cardContainer">
    <mat-card-title>Create account</mat-card-title>

    <form [formGroup]="signUpForm" (ngSubmit)="signUpUserWithEmail(signUpForm.value)" class="formContainer">
        <mat-form-field>
            <input matInput formControlName="email" placeholder="Email" type="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="password" placeholder="Password" type="password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Create account</button>

    </form>
</mat-card>

