<form [formGroup]="account" (ngSubmit)="addAccountToBudget(account.value)">

    <h2 mat-dialog-title="">
        Add account
    </h2>

    <mat-dialog-content>

        <mat-form-field>
            <input matInput formControlName="accountName" placeholder="Account name" type="text">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="accountType" placeholder="Account type" type="text">
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button type="submit">Submit</button>

        <button mat-button type="button" (click)="cancel()">Cancel</button>
    </mat-dialog-actions>
</form>
