.mat-row:focus {
    outline: 0;
}

.mat-column-actions {
    flex: 0 40px;
}

.mat-column-name {
    flex: 2
}

.mat-column-lastModified {
    flex: 1;
}

.truncate {
    margin: 0;
    width: calc(100% - 8px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
