<!-- <form [formGroup]="groupForm" (ngSubmit)="addCategoryGroup(groupForm.value)">

    <mat-form-field>
        <input matInput formControlName="groupName" placeholder="Add category group" type="text">
    </mat-form-field>

    <button mat-button type="submit">Add group</button>
</form>

<mat-card *ngFor="let group of groups | async">

    <p>Group: {{group.name}}</p>
    <button (click)="deleteGroup(group.groupId)">
        <mat-icon>delete</mat-icon>
    </button>

    <form [formGroup]="categoryForm" (ngSubmit)="addCategory(categoryForm.value, group.groupId)">
        <mat-form-field>
            <input matInput formControlName="categoryName" placeholder="Add category" type="text">
        </mat-form-field>

        <button mat-button type="submit">Add category</button>
    </form>

    <div *ngFor="let category of categories | async as categories">
        <div *ngIf="category.groupId == group.groupId">
            <p>{{category.name}}</p>

            <button (click)="deleteCategory(category.categoryId)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>

</mat-card>-->

<mat-card *ngFor="let group of groupings.observable | async">
    <p>{{group.groupId}}</p>
    <p>{{group.name}}</p>
    <ng-container *ngIf="group.categories.observable | async as categories">
        <p>{{categories}}</p>
    </ng-container>
</mat-card>
