.edit-budget-container {
    margin: 25px auto;
    width: 75%;
}

.budgetCard {
    margin: 20px auto;
}

.budget-card-grey {
    background-color: #F5F5F5;
}

.action-spacer {
    flex: 1 1 auto;
}

.highlight{
    background: #F5F5F5;
}
