<form [formGroup]="groupForm" (ngSubmit)="addCategoryGroup(groupForm.value, groupsAndCategories.collection)">
    <mat-form-field>
        <input matInput formControlName="groupName" placeholder="Add category group" type="text">
    </mat-form-field>

    <button mat-button type="submit">Add group</button>
</form>

<mat-card *ngFor="let group of groupsAndCategories.observable | async">
    <p>{{group.groupId}}</p>
    <p>{{group.groupName}}</p>

    <button (click)="deleteCategoryGroup(group)">
        <mat-icon>delete</mat-icon>
    </button>

    <form [formGroup]="categoryForm" (ngSubmit)="addCategoryToGroup(categoryForm.value, group)">
        <mat-form-field>
            <input matInput formControlName="categoryName" placeholder="Add category" type="text">
        </mat-form-field>

        <button mat-button type="submit">Add category</button>
    </form>

    <ng-container *ngIf="group.categories.observable | async as categories">

        <ng-container *ngFor="let category of categories">
            <p>{{category | json}}</p>

            <button (click)="deleteCategoryFromGroup(category, group)">
                <mat-icon>delete</mat-icon>
            </button>
        </ng-container>

    </ng-container>
</mat-card>
