.mat-column-status {
    flex: 0 24px;
}

.truncate {
    margin: 0;
    width: calc(100% - 8px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.futureTransaction {
    background-color: #EEEEEE;
}

.futureTransaction:hover {
    background-color: #F5F5F5;
}
