<mat-table [dataSource]="dataSource"
           [trackBy]="trackTransactions">

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="updateTransaction(row.rawData)"
             [ngClass]="{'futureTransaction': isFutureDate(row.rawData.transactionDate)}"></mat-row>

    <ng-container matColumnDef="accountId">
        <mat-header-cell *matHeaderCellDef> Account</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <div class="truncate">
                {{element.viewData.accountName}}
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="transactionDate">
        <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.rawData.transactionDate | utcDate | date: 'MM/dd/yyyy'}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="payeeId">
        <mat-header-cell *matHeaderCellDef> Payee</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <div class="truncate">
                {{element.viewData.payeeName}}
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="categoryId">
        <mat-header-cell *matHeaderCellDef> Category</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <div class="truncate">
                {{element.viewData.categoryName}}
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> Amount</mat-header-cell>
        <mat-cell *matCellDef="let element">

            <app-money-value-chip
                [value]="element.rawData.amount"
                [currencyType]="'USD'">
            </app-money-value-chip>

        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="memo">
        <mat-header-cell *matHeaderCellDef> Memo</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <div class="truncate">{{element.rawData.memo}}</div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="balance">
        <mat-header-cell *matHeaderCellDef> Balance</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.viewData.runningBalance | currency: 'USD'}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">

            <ng-container *ngIf="isCleared(element.rawData)">
                <ng-container *ngIf="isLocked(element.rawData); then locked else unlocked">
                </ng-container>

                <ng-template #unlocked>
                    <mat-icon>done</mat-icon>
                </ng-template>
                <ng-template #locked>
                    <mat-icon>lock_outline</mat-icon>
                </ng-template>
            </ng-container>

            <ng-container *ngIf="isReoccurring(element.rawData)">
                <mat-icon>cached</mat-icon>
            </ng-container>
        </mat-cell>
    </ng-container>

</mat-table>
