.mat-column-status {
    flex: 0 24px;
}

.black-thirty-eight {
    color: hsl(0, 0%, 62%);
}

.truncate {
    margin: 0;
    width: calc(100% - 8px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.futureTransaction {
    background-color: #EEEEEE;
}

.futureTransaction:hover {
    background-color: #F5F5F5;
}
