.container {
    background-color: #fafafa;
    height: 100vh;
}

.authenticate-card-container {
    padding: 0;
    width: 400px;
    margin: 50px auto 0;
}

.authenticate-card-content {
    padding: 24px;
    padding-top: 0;
}

.nav-tabs {
    display: flex;
}

.nav-tabs a {
    flex: 1;
    font-size: 14px;
    text-transform: uppercase;
}

