<ng-container *ngIf="loading">
    <mat-spinner diameter="60"></mat-spinner>
</ng-container>

<ng-container *ngIf="authNotification.messageBroadcast | async as notification">
    <mat-card class="authenticate-card-container" *ngIf="showAuthError">
        <p [style.color]="notification.type == 'error' ? 'red' : null">{{notification.content}}</p>
    </mat-card>
</ng-container>

<form [formGroup]="signInForm" (ngSubmit)="signInForm.valid && signin()" class="formContainer" class="signin-form">

    <mat-form-field [floatPlaceholder]="'never'">
        <input matInput formControlName="email" placeholder="Email" type="email">
    </mat-form-field>

    <mat-form-field [floatPlaceholder]="'never'">
        <input matInput formControlName="password" placeholder="Password" type="password"
               [type]="hideSigninPassword ? 'password' : 'text'">

        <mat-icon matSuffix (click)="hideSigninPassword  = !hideSigninPassword">
            {{hideSigninPassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>

        <!--<mat-hint id="forgot-password" routerLink="/password_reset">-->
            <!--<p>Forgot password?</p>-->
        <!--</mat-hint>-->

    </mat-form-field>

    <button mat-raised-button color="primary" mat-button type="submit" [disabled]="saving" id="signin-button">Sign in</button>

</form>
