<app-toolbar></app-toolbar>

<ng-container *ngIf="budgets | async as budgets; else loading">
    <mat-card *ngFor="let b of budgets" class="budget-container" [routerLink]="[b.budgetId, 'accounts']">
        <p>Name: {{b.budgetName}}</p>
        <p>Type: {{b.currencyType}}</p>
        <button mat-button (click)="deleteBudget(b); $event.stopPropagation()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card>

    <form [formGroup]="newBudget" (ngSubmit)="addBudget(newBudget.value)">
        <mat-form-field>
            <input matInput formControlName="budgetName" placeholder="Budget name" type="text">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="currencyType" placeholder="Currency Type" type="text">
        </mat-form-field>

        <button mat-button type="submit">Add budget</button>
    </form>
</ng-container>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>


