<app-toolbar></app-toolbar>

<ng-container *ngIf="budgets | async as budgets; else loading">

    <button mat-button (click)="openAddNewBudgetDialog()">Add New Budget</button>

    <mat-card *ngFor="let b of budgets" class="budget-container" [routerLink]="[b.budgetId, 'accounts']">
        <p>Name: {{b.budgetName}}</p>
        <p>Type: {{b.currencyType}}</p>
        <button mat-button (click)="deleteBudget(b); $event.stopPropagation()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card>


</ng-container>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>


