<form [formGroup]="categoryForm" (ngSubmit)="saveChanges()">

    <h1 mat-dialog-title="">
        <span *ngIf="DialogState.Create === data.state">Add category</span>
        <span *ngIf="DialogState.Update === data.state">Edit category</span>
    </h1>

    <mat-dialog-content>

        <mat-form-field>
            <input matInput formControlName="{{CategoryFormNames.CategoryName}}" placeholder="Category" type="text">
        </mat-form-field>

        <mat-form-field>
            <span matPrefix>$ &nbsp;</span>
            <input matInput formControlName="{{CategoryFormNames.Budgeted}}" placeholder="Budget" type="number">

            <mat-error *ngIf="categoryForm.get('budgeted').hasError('currency')"></mat-error>

        </mat-form-field>

        <!--<mat-form-field>-->
        <!--<input matInput formControlName="{{CategoryFormNames.Offset}}" placeholder="Available" type="number">-->
        <!--</mat-form-field>-->

    </mat-dialog-content>

    <mat-dialog-actions>

        <button mat-button type="button" [mat-dialog-close]>Cancel</button>

        <button mat-raised-button
                color="primary"
                [disabled]="!categoryForm.valid || saving"
                type="submit">
            <span *ngIf="DialogState.Update === data.state">Save</span>
            <span *ngIf="DialogState.Create === data.state">Add</span>
        </button>

    </mat-dialog-actions>
</form>
