<form [formGroup]="categoryForm" (ngSubmit)="saveChanges()">

    <h1 mat-dialog-title="">
        <span *ngIf="DialogState.Create === data.state">Add category</span>
        <span *ngIf="DialogState.Update === data.state">Edit category</span>
    </h1>

    <mat-dialog-content>

        <mat-form-field>
            <input matInput formControlName="categoryName" placeholder="Category" type="text">
        </mat-form-field>

        <ng-container *ngIf="DialogState.Update === data.state">
            <mat-form-field>
                <input matInput formControlName="budgeted" placeholder="Budget" type="number">
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="offset" placeholder="Available" type="number">
            </mat-form-field>
        </ng-container>

    </mat-dialog-content>

    <mat-dialog-actions>

        <button mat-button type="button" [mat-dialog-close]>Cancel</button>

        <button mat-raised-button
                color="primary"
                [disabled]="!categoryForm.valid || saving"
                type="submit">
            <span *ngIf="DialogState.Update === data.state">Save</span>
            <span *ngIf="DialogState.Create === data.state">Add</span>
        </button>

    </mat-dialog-actions>
</form>
