<form [formGroup]="categoryForm" (ngSubmit)="categoryForm.valid && saveChanges()">

    <h1 *ngIf="mode === 'UPDATE'" mat-dialog-title>Edit category</h1>
    <h1 *ngIf="mode === 'CREATE'" mat-dialog-title>Add category</h1>

    <mat-dialog-content>

        <mat-form-field>
            <input matInput formControlName="categoryName" placeholder="Category" type="text">
        </mat-form-field>

        <ng-container *ngIf="mode == 'UPDATE'">
            <mat-form-field>
                <input matInput formControlName="budgeted" placeholder="Budget" type="number">
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="offset" placeholder="Available" type="number">
            </mat-form-field>
        </ng-container>

    </mat-dialog-content>

    <mat-dialog-actions>

        <button mat-button type="button" [mat-dialog-close]>Cancel</button>

        <button *ngIf="mode === 'UPDATE'" mat-raised-button color="primary" [disabled]="saving" type="submit">Save
        </button>
        <button *ngIf="mode === 'CREATE'" mat-raised-button color="primary" [disabled]="saving" type="submit">Add
        </button>

    </mat-dialog-actions>
</form>
