<form [formGroup]="budgetForm" (ngSubmit)="budgetForm.valid && addBudget()">

    <h1 mat-dialog-title>Add budget</h1>

    <mat-dialog-content>

        <mat-form-field>
            <input matInput formControlName="budgetName" placeholder="Budget name" type="text">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="currencyType" placeholder="Currency Type" type="text">
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button [disabled]="saving" type="submit">Submit</button>

        <button mat-button [mat-dialog-close]="true">Cancel</button>
    </mat-dialog-actions>
</form>
