<form [formGroup]="groupForm" (ngSubmit)="saveChanges()">

    <h1 *ngIf="DialogState.Create === data.state" mat-dialog-title>Add category group</h1>
    <h1 *ngIf="DialogState.Update === data.state" mat-dialog-title>Edit category group</h1>

    <mat-dialog-content>

        <mat-form-field>
            <input matInput formControlName="groupName" placeholder="Group name" type="text">
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>

        <button mat-button type="button" [mat-dialog-close]>Cancel</button>

        <button mat-raised-button
                color="primary"
                [disabled]="!groupForm.valid || saving"
                type="submit">
            <span *ngIf="DialogState.Create === data.state">Add</span>
            <span *ngIf="DialogState.Update === data.state">Save</span>
        </button>

    </mat-dialog-actions>
</form>
