<mat-table
    [dataSource]="dataSource"
    [trackBy]="trackCategories"
    #table>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: columns;"
             (click)="updateCategory(row)">
    </mat-row>

    <ng-container matColumnDef="categoryName">
        <mat-header-cell *matHeaderCellDef> Category</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <div class="truncate">
                {{element.categoryName}}
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="budgeted">
        <mat-header-cell *matHeaderCellDef>Budgeted</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span>{{element.desiredValue.budgeted | currency: 'USD'}}</span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="activity">
        <mat-header-cell *matHeaderCellDef>Activity</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span>{{element.activity | currency: 'USD'}}</span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="available">
        <mat-header-cell *matHeaderCellDef>Available</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <app-money-value-chip
                [value]="element.budgetedTotalToDate + element.activity + element.pastActivityTotal"
                [currencyType]="'USD'">
            </app-money-value-chip>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">

            <button mat-icon-button [matMenuTriggerFor]="options" (click)="$event.stopPropagation()">
                <mat-icon class="greyed-icon blacked-hover-state">more_vert</mat-icon>
            </button>
            <mat-menu #options>
                <button mat-menu-item (click)="updateCategory(element)">Edit</button>
            </mat-menu>

        </mat-cell>
    </ng-container>
</mat-table>
