<form [formGroup]="accountForm" (ngSubmit)="saveChanges()">

    <h1 mat-dialog-title>
        <span *ngIf="DialogState.Create === data.state">Add account</span>
        <span *ngIf="DialogState.Update === data.state">Edit account</span>
    </h1>

    <mat-dialog-content>

        <mat-form-field>
            <input matInput formControlName="{{AccountFormNames.AccountName}}" placeholder="Account name" type="text">
        </mat-form-field>

        <mat-form-field *ngIf="DialogState.Create === data.state">
            <span matPrefix>$ &nbsp;</span>
            <input matInput formControlName="{{AccountFormNames.StartingBalance}}" placeholder="Starting Balance" type="number">
            <mat-error *ngIf="accountForm.get('startingBalance').hasError('currency')"></mat-error>

        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button type="button" [mat-dialog-close]>Cancel</button>

        <button mat-button
                type="submit"
                [disabled]="!accountForm.valid || saving"
                mat-raised-button color="primary">
            <span *ngIf="DialogState.Create === data.state">Add</span>
            <span *ngIf="DialogState.Update === data.state">Submit</span>
        </button>

    </mat-dialog-actions>
</form>
