<ng-container [formGroup]="transactionForm">
    <mat-form-field>
        <input matInput placeholder="Payee" [matAutocomplete]="payeeAutoComplete" formControlName="payee" (keyup)="highlightFirstOption($event)">

        <mat-autocomplete #payeeAutoComplete="matAutocomplete" [displayWith]="displayPayeeName">
            <mat-option *ngFor="let payee of filteredPayees$ | async"
                        [value]="payee">
                {{payee.payeeName}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</ng-container>
