<ng-container [formGroup]="transactionForm">
    <mat-form-field>
        <input matInput #box placeholder="Payee" [matAutocomplete]="payeeAutoComplete"
               (keydown.Tab)="autoSelectActiveOption(box.value)"
               formControlName="{{TransactionFormNames.Payee}}">

        <mat-autocomplete #payeeAutoComplete="matAutocomplete" [displayWith]="displayPayeeName" [autoActiveFirstOption]="true">

            <!--<mat-optgroup [label]="'Transfers'">-->
                <!--<mat-option *ngFor="let account of accounts"-->
                            <!--[value]="account"-->
                            <!--[disabled]="isAccountSelectedAsOrigin(account)">-->
                    <!--{{account.accountName}}-->
                <!--</mat-option>-->
            <!--</mat-optgroup>-->

            <ng-container *ngIf="filteredPayees$ | async as filteredPayees">
                <!--<mat-optgroup [label]="'Payees'" *ngIf="filteredPayees.length > 0">-->
                    <mat-option *ngFor="let payee of filteredPayees"
                                [value]="payee">
                        {{payee.payeeName}}
                    </mat-option>
                <!--</mat-optgroup>-->
            </ng-container>

        </mat-autocomplete>

    </mat-form-field>
</ng-container>
