.view-transaction-container {
    max-width: 1092px;
    margin: 0 auto;
    padding: 24px 24px 0;
}

.transaction-table {
    margin: 24px 0;
    padding: 0;
}

.header {
    display: flex;
    margin-top: -24px;
    flex-wrap: wrap;
}

.header h1 {
    flex: 1;
    margin: 24px 0 0;
}

.header button {
    margin-top: 24px;
}

#table-header-name {
    margin: 0;
}

.transactions-table-header-options {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

#reconcile-button {
    display: flex;
    justify-content: flex-end;
}
