<ng-container *ngIf="onTransactionEntitiesChange$ | async as entities; else loading">

    <div class="view-transaction-container">

        <mat-card class="transaction-table">

            <mat-card-header class="material-table-header material-level-two">

                <div>
                    <h1 id="table-header-name" class="mat-title">Transactions</h1>
                </div>

                <div class="transactions-table-header-options">
                    <app-reconcile-transactions
                        *ngIf="entities.accountId"
                        style="padding-right: 8px"
                        [budgetId]="entities.budgetId"
                        [accountId]="entities.accountId">
                    </app-reconcile-transactions>

                    <button mat-raised-button color="primary" (click)="createTransaction()">Add transaction</button>
                </div>
            </mat-card-header>

            <mat-card-content>

                <ng-container *ngIf="entities.transactions.length > 0; else noTransactions">
                    <app-transaction-table
                        [transactions]="entities.transactions"
                        [payees]="entities.viewData.payees"
                        [accounts]="entities.viewData.accounts"
                        [groups]="entities.viewData.groups"
                        [budgetId]="entities.budgetId"
                        [onChange$]="onTransactionEntitiesChange$">
                    </app-transaction-table>
                </ng-container>

                <ng-template #noTransactions>
                    <div class="no-data-card">
                        <div class="no-data-card-content">
                            <p>You don't have any transactions</p>
                            <button mat-button (click)="createTransaction()">Create your first transaction</button>
                        </div>
                    </div>
                </ng-template>

            </mat-card-content>

        </mat-card>

    </div>

</ng-container>

<ng-template #loading>
    <div class="progress-spinner">
        <mat-spinner diameter="60"></mat-spinner>
    </div>
</ng-template>
