<div class="container" [class.is-mobile]="mobileQuery.matches">

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav
                     [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [opened]="initialSidenavState"
                     [style.marginTop.px]="mobileQuery.matches ? -56 : 0"
                     [fixedInViewport]="mobileQuery.matches"
                     fixedTopGap="56">

            <app-sidenav></app-sidenav>
        </mat-sidenav>

        <mat-sidenav-content>

            <div class="toolbar">
                <app-header [showSidenavToggle]="true" (onSidenavToggle)="sidenav.toggle()"></app-header>
            </div>

            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>

