<div class="container">

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav
                     [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [opened]="initialSidenavState">

            <app-sidenav (onSidenavSelection)="mobileQuery.matches && sidenav.toggle()"></app-sidenav>
        </mat-sidenav>

        <mat-sidenav-content>

            <div class="header" #header>
                <app-header [showSidenavToggle]="true" (onSidenavToggle)="sidenav.toggle()"></app-header>
            </div>

            <div class="height-minus-header">
                <router-outlet></router-outlet>
            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>

</div>

