<ng-container *ngIf="dropdowns$ | async as dropdowns; else loading">
    <form [formGroup]="transactionForm" (ngSubmit)="transactionForm.valid && saveChanges()">

        <h1 mat-dialog-title *ngIf="DialogState.Create === data.state">Add transaction</h1>
        <h1 mat-dialog-title *ngIf="DialogState.Update === data.state">Edit transaction</h1>

        <mat-dialog-content>

            <mat-form-field>
                <mat-select placeholder="Account" formControlName="{{TransactionFormNames.AccountId}}" required>
                    <mat-option *ngFor="let account of dropdowns.accounts" [value]="account.budgetAccountId"
                                [disabled]="isAccountSelectedAsDestination(account)">
                        {{account.accountName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <app-utc-datepicker
                [transactionDate]="data.transactionDate">
            </app-utc-datepicker>

            <app-payee-autocomplete
                [payees]="dropdowns.payees"
                [accounts]="dropdowns.accounts"
                [selectedPayeeId]="data.payeeId || data.destinationAccountId"
                [transactionForm]="transactionForm">
            </app-payee-autocomplete>

            <app-category-autocomplete
                [groups]="dropdowns.groups"
                [selectedCategoryId]="data.categoryId"
                [disabled]="transactionState === TransactionState.Transfer || transactionState === TransactionState.ReoccurringTransfer"
                [transactionForm]="transactionForm">
            </app-category-autocomplete>

            <mat-form-field>
                <span matPrefix>$ &nbsp;</span>
                <input matInput placeholder="Amount" type="number" formControlName="{{TransactionFormNames.Amount}}">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Memo" type="text" formControlName="{{TransactionFormNames.Memo}}">
            </mat-form-field>

            <app-repeat-transaction
                [transactionForm]="transactionForm">

            </app-repeat-transaction>

            <mat-checkbox
                color="primary"
                formControlName="{{TransactionFormNames.Cleared}}">
                Cleared
            </mat-checkbox>

        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-button type="button" [mat-dialog-close]>Cancel</button>

            <button mat-button *ngIf="data.state === 'CREATE'" [disabled]="saving" type="submit" mat-raised-button
                    color="primary">Add
            </button>
            <button mat-button *ngIf="data.state === 'UPDATE'" [disabled]="saving" type="submit" mat-raised-button
                    color="primary">Save
            </button>
        </mat-dialog-actions>

    </form>
</ng-container>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>

