<ng-container *ngIf="dropdowns$ | async as dropdowns; else loading">
    <form [formGroup]="transactionForm" (ngSubmit)="transactionForm.valid && saveChanges()">

        <h1 mat-dialog-title *ngIf="data.state === 'CREATE'">Add transaction</h1>
        <h1 mat-dialog-title *ngIf="data.state === 'UPDATE'">Edit transaction</h1>

        <mat-dialog-content>

            <mat-form-field>
                <mat-select placeholder="Account" formControlName="accountId">
                    <mat-option *ngFor="let account of dropdowns.accounts" [value]="account.budgetAccountId">
                        {{account.accountName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="transactionDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <app-payee-autocomplete
                [payees]="dropdowns.payees"
                [selectedPayeeId]="data.payeeId">
            </app-payee-autocomplete>

            <app-category-autocomplete
                [groups]="dropdowns.groups"
                [selectedCategoryId]="data.categoryId">
            </app-category-autocomplete>

            <mat-form-field>
                <span matPrefix>$ &nbsp;</span>
                <input matInput placeholder="Amount" type="number" formControlName="amount">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Memo" type="text" formControlName="memo">
            </mat-form-field>

        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-button type="button" [mat-dialog-close]>Cancel</button>

            <button mat-button *ngIf="data.state === 'CREATE'" type="submit" mat-raised-button color="primary">Add
            </button>
            <button mat-button *ngIf="data.state === 'UPDATE'" type="submit" mat-raised-button color="primary">Save
            </button>
        </mat-dialog-actions>

    </form>
</ng-container>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>

