<form [formGroup]="transactionForm" (ngSubmit)="transactionForm.valid && saveChanges()">

    <h1 mat-dialog-title *ngIf="data.state === 'CREATE'">Add transaction</h1>
    <h1 mat-dialog-title *ngIf="data.state === 'UPDATE'">Edit transaction</h1>

    <mat-dialog-content>

        <mat-form-field>
            <mat-select placeholder="Account" formControlName="accountId">
                <mat-option *ngFor="let account of accounts.observable | async" [value]="account.budgetAccountId">
                    {{account.accountName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="transactionDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <mat-form-field>
            <input matInput placeholder="Payee" [matAutocomplete]="payeeAutoComplete" formControlName="payeeId">

            <mat-autocomplete #payeeAutoComplete="matAutocomplete" [displayWith]="displayPayeeName">
                <mat-option *ngFor="let payee of payees | async"
                            [value]="payee">
                    {{payee.payeeName}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <!--<mat-form-field>-->
        <!--<mat-select placeholder="Payee" formControlName="payeeId">-->

        <!--<mat-option (click)="setToTransferState()" *ngFor="let account of accounts.observable | async"-->
        <!--[value]="account.budgetAccountId"-->
        <!--[disabled]="true">-->
        <!--Transfer: {{account.accountName}}-->
        <!--</mat-option>-->

        <!--<ng-container *ngIf="payees.observable | async as payees">-->
        <!--<mat-option *ngFor="let payee of payees" (click)="setToTransactionState()" [value]="payee.payeeId">-->
        <!--{{payee.payeeName}}-->
        <!--</mat-option>-->
        <!--</ng-container>-->

        <!--</mat-select>-->
        <!--</mat-form-field>-->

        <mat-form-field>
            <mat-select placeholder="Category" formControlName="categoryId">

                <ng-container *ngIf="groupsAndCategories | async as groupsAndCategories">
                    <ng-container *ngFor="let group of groupsAndCategories.data">
                        <mat-option *ngFor="let category of group.categories" [value]="category.categoryId">
                            {{group.groupName}}: {{category.categoryName}}
                        </mat-option>
                    </ng-container>
                </ng-container>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Amount" type="number" formControlName="amount">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Memo" type="text" formControlName="memo">
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button type="button" [mat-dialog-close]>Cancel</button>
        <button mat-button type="submit" mat-raised-button color="primary">Add</button>
    </mat-dialog-actions>

</form>
