.container {
    background-color: #fafafa;
    min-height: 100vh;
    height: 100%;
}

.settings {
    max-width: 936px;
    padding: 24px 24px 0;
    margin: 0 auto;
}

.settings-card {
    margin: 24px 0;
}

#email {
    display: flex;
    align-items: center;
}

#email .mat-icon {
    margin-left: 8px;
}

p {
    margin: 8px 0;
}
