<div class="container">

    <app-header></app-header>

    <ng-container *ngIf="auth.user | async as user; else loading">

        <div class="settings">

            <div class="settings-container">
                <h1 class="mat-headline">Settings</h1>

                <mat-card class="settings-card">

                    <h1 class="mat-headline">Account</h1>

                    <ng-container *ngIf="user.email; else isAnonymous">
                        <div id="email">
                            <p>Email: {{user.email}}</p>

                            <ng-container *ngIf="user.emailVerified">
                                <mat-icon matTooltip="Verified account" color="accent" [matTooltipPosition]="'right'">check_circle</mat-icon>
                            </ng-container>
                        </div>


                        <ng-container *ngIf="!user.emailVerified">
                            <button mat-button (click)="auth.sendEmailVerification(forceRefreshToken)">
                                Resend verification email
                            </button>
                        </ng-container>

                    </ng-container>

                    <p *ngIf="!user.cardDetails">Trial: {{user.premium.trialEnd | daysUntil}} days left</p>


                    <ng-template #isAnonymous>
                        <div>
                            <button mat-raised-button color="warn" (click)="openLinkAnonymousAccountDialog()">Sign up
                            </button>
                        </div>

                    </ng-template>

                </mat-card>

                <mat-card class="settings-card">

                    <h1 class="mat-headline">Billing</h1>

                    <app-billing [user]="user">

                    </app-billing>

                </mat-card>
            </div>
        </div>

    </ng-container>

    <ng-template #loading>
        <div class="progress-spinner height-minus-header">
            <mat-spinner diameter="60"></mat-spinner>
        </div>
    </ng-template>
</div>

