<app-header></app-header>

<ng-container *ngIf="auth.user | async as user">

    <ng-container *ngIf="user.emailVerified; then verified else unverified">

    </ng-container>

    <ng-template #verified>
        <p mat-body-1>User is verified</p>
    </ng-template>

    <ng-template #unverified>
        <p>You account is currently not verified</p>
        <button mat-button (click)="auth.sendEmailVerification(forceRefreshToken)">Resend verification email</button>
        <button mat-button (click)="auth.verifyUser(forceRefreshToken, showOfflinePopups)">Update verification status
        </button>
    </ng-template>

</ng-container>

<div *ngIf="data | async as data">
    <div *ngFor="let d of data">
        {{d.time | utcDate | date: 'MM/dd/yyyy'}}
    </div>
</div>
