.container {
    background-color: #fafafa;
    height: 100vh;
}

.settings {
    max-width: 800px;
    margin: 25px auto;
}

.settings-container {
    margin: 0 16px;
}

.settings-card {
    margin: 20px auto;
}
